@model  Mvc2EfCodeFirst.ViewModels.BilEditViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Edit bil</h1>


<form method="post" enctype="multipart/form-data">

    RegNo:
    <input asp-for="RegNo" /> <br /><span asp-validation-for="RegNo"></span><br />



    Manufacturer:
    <input asp-for="Manufacturer" /> <br /><span asp-validation-for="Manufacturer"></span><br />

    Model:
    <input asp-for="Model" /> <br /><span asp-validation-for="Model"></span><br />

    Color:
    <input asp-for="Color" /> <br /><span asp-validation-for="Color"></span><br />

    Price:
    <input asp-for="Price" /> <br /><span asp-validation-for="Price"></span><br />


    Year:
    <input asp-for="Year" /> <br /><span asp-validation-for="Year"></span><br />


    Bilden:

    <img src="~/images/@(Model.Id).jpg" /><br/><br />
    

    Nya bilden:
    <input asp-for="NyBild"/>
    <span asp-validation-for="@Model.NyBild" class="text-danger"></span>
    
    


    <hr />

    <button type="submit">Spara</button>
</form>

