@model Mvc2EfCodeFirst.ViewModels.BilSearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Sökresultat</h1>




@*   Tänk dig 100-tals rader kod här *@
<table class="table">
    <tbody>
        @foreach (var bil in Model.Items)
        {
            <partial name="_BilListRow" model="@bil"/>
        }
    </tbody>
</table>
<hr />
   @*Tänk dig 100-tals rader kod här*@ 
<a asp-action="New" class="btn btn-primary">New</a>